[project]
name = "yoshida-compensation"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "numpy>=2.3.4",
    "pillow>=12.0.0",
]

[dependency-groups]
dev = [
    "pytest>=9.0.1",
]
